.git/
.dvc/cache/
.dvc/tmp/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

data/
models/
mlruns/
mlflow-artifacts/
mlflow.db
prefect/
logs/
reports/

.env
.env.*
.DS_Store
project.pdf
